
<table class="table table-striped table-hover ">
<tr>
	<th>Document </th>
	<th>Type of Document</th>
	<th>Level</th>
</tr>
	<% @doctask.each do |dt| %>
<tr>
	<td><%= dt.document.try(:serialno) %></td>
	<td><%= dt.task.form.try(:formname) %></td>	
	<td><%= dt.task.try(:level) %></td>
</tr>
<%end %>
</table>


