
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Borang Aktiviti Pelajar</th>
      <th>Borang Koferensi Pelajar</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @form.inspect%></td>
       <td><%= @form1.inspect%></td>
      </tr>
  </tbody>
</table>