<table class="table table-striped table-hover ">
	<tr><th>Staff Involved</th>
		<th>Location</th>
		<th>Status</th>
		<th>Date Complete</th>
	</tr>

	<% @formtask.each do |d| %>
	<tr>
		<td><%= d.user.try(:username) %></td>
		<% d.assignments.each do |a| %>
		<td><%= a.location %></td>
		<td><%= a.status %></td>
		<td><%= a.datecomplete %></td>
		<%end %>
	</tr>
	<% end %>
</table>
