<%= flash_messages %>


  <table class="table table-bordered">
    <tr>
      <th>Form ID</th>
      <td><%= @form.formid %></td>
    </tr>

    <tr>
      <th>Form Name</th>
      <td><%= @form.formname%></td>
    </tr>

    <tr>
      <th>Attachment</th>
       <td><%= @form.attachment %></td>
    </tr>

  </table>

